# Игнорировать всё по умолчанию
*

# Оставить packwiz-файлы
!pack.toml
!index.toml
!.packwizignore
!.gitignore
!*.pw.toml

# Оставить нужные папки
!mods/
!mods/**

!config/
!config/realcamera.json
!config/manaattributes/
!config/manaattributes/**
!config/sound_physics_remastered
!config/sound_physics_remastered/**

!kubejs/
!kubejs/**

!resourcepacks/
!resourcepacks/**

!.gitattributes