/*

!/mods/
!/config/
!/kubejs/
!/resourcepacks/

config/*
!config/realcamera.json
!config/manaattributes/
!config/sound_physics_remastered/

kubejs/probe/

!/pack.toml
!/index.toml
!/*.pw.toml
!/.packwizignore
!/.gitignore
!/.gitattributes